body{
    text-align: center;
    background: #A0FF91;
    font-family: helvetica;
    font-weight: 100;
}

h1{
    color: #000;
    font-weight: 100;
    font-size: 40px;

}
#reloj {
    position: center;
    top:40px;
    left:120px;
    font-size: 32px;
    color:#000;
}
